---
const { variant, fullWidth, ...props } = Astro.props;
---

<span class={`badge ${fullWidth ? "--fullWidth" : ""} ${variant == "white" && "--white"}`} {...props}>
    <slot />
</span>

<style lang="scss" scoped>
    @use "@styles/abstracts/variables.scss" as *;
    @use '@styles/abstracts/functions' as *;
    @use '@styles/abstracts/mixins' as *;

    .badge{
        padding: rem(20) rem(64) ;
        height: rem(60);
        color: $color-primary-2 !important;
        background-color:#4480D936;
        border-radius: rem(100);
        border: 1px solid transparent;
        font-size: rem(24);
        font-weight: 700;
        @include d-flex-center;
        width: fit-content;
        gap: rem(20);
    }

    .--white{
        background-color: $color-white;
        color: $color-black;
        border: 1px solid $color-blue;
    }

    .--fullWidth{
        display: block;
        width: 100%;
    }
</style>