---
//@: Assets

//@: Components
import Badge from "@components/shared/Badge.astro";
import Button from "@components/shared/Button.astro";
---

<section class="footer" id="connect">
    <div class="footer__content">
        <div class="footer__content__stack">
            <Badge>Partnership Invitation</Badge>
            <h1>Working Together for Impact</h1>
            <p>
                I collaborate with foundations, governments, universities, and
                community organisations to strengthen institutions, improve
                evidence use, and support initiatives that deliver meaningful,
                scalable impact.
            </p>
            <h2>Prof. Amos Njuguna</h2>
            <h3>Deputy Vice Chancellor, USIU-Africa</h3>
            <h4>
                Chair, Network of Impact Evaluation Researchers in Africa
                (NIERA)
            </h4>
            <div class="footer__content__stack__group">
                <a href="https://www.linkedin.com/in/amos-njuguna-b671351aa/">
                    <Button>
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            ><path
                                fill="currentColor"
                                d="M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2zm-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4a1.4 1.4 0 0 1 1.4 1.4v4.93zM6.88 8.56a1.68 1.68 0 0 0 1.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69 1.69 0 0 0-1.69 1.69c0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37z"
                            ></path></svg
                        >LinkedIn
                    </Button>
                </a>
                <a href="https://scholar.google.com/citations?user=1avbk3UAAAAJ&hl=en">
                    <Button
                        ><svg
                            width="24px"
                            height="24px"
                            viewBox="0 0 24 24"
                            role="img"
                            xmlns="http://www.w3.org/2000/svg"
                            ><title>Google Scholar icon</title><path
                                fill="currentColor"
                                d="M12 24a7 7 0 1 1 0-14 7 7 0 0 1 0 14zm0-24L0 9.5l4.838 3.94A8 8 0 0 1 12 9a8 8 0 0 1 7.162 4.44L24 9.5z"
                            ></path></svg
                        > Google Scholar</Button
                    >
                </a>
            </div>
        </div>
    </div>
    <div class="footer__footer">
        <p>© 2026 Prof. Amos Gitau Njuguna. All rights reserved.</p>
        <p>Transforming education and evidence into lasting impact.</p>
    </div>
</section>

<style lang="scss" scoped>
    @use "@styles/abstracts/variables.scss" as *;
    @use "@styles/abstracts/mixins.scss" as *;
    @use "@styles/abstracts/functions.scss" as *;

    .footer {
        background-color: $color-primary;
        color: $color-white;
        scroll-margin-top: 80px;

        @media screen and (max-width: $breakpoint-sm) {
            @include d-flex-column;
        }

        &__content {
            @include d-flex-column-center;
            padding: rem(200) $base-spacing;

            @media screen and (max-width: $breakpoint-xl) {
                padding: calc($base-spacing - rem(96));
                margin: rem(64) 0 0;
            }

            @media screen and (max-width: $breakpoint-md) {
                gap: rem(96);
            }

            @media screen and (max-width: $breakpoint-sm) {
                gap: rem(80);
            }

            @media screen and (max-width: $breakpoint-xs) {
                padding: rem(160) rem(32);
                gap: rem(96);
            }

            &__stack {
                @include d-flex-column-center;
                width: min(rem(1600), 100%);
                gap: rem(32);
                text-align: center;

                h1 {
                    margin-top: rem(50);
                    font-size: rem(60);
                    font-weight: 500;
                    font-family: "Bricolage Grotesque", sans-serif;
                    word-spacing: -2px;
                    letter-spacing: -1px;
                }

                h2, h3{
                    font-family: "Bricolage Grotesque", sans-serif;
                }

                p {
                    font-weight: 300;
                    font-size: rem(24);
                    line-height: 3ch;
                }
                h4 {
                    font-weight: 300;
                    font-family: "Bricolage Grotesque", sans-serif;
                    
                }

                &__group {
                    @include d-flex;
                    gap: rem(32);
                    margin: rem(50) auto 0;

                    @media screen and (max-width: $breakpoint-sm) {
                        @include d-flex-column;
                        align-items: center;
                    }
                }
            }

            &__container {
                @include d-flex;
                gap: rem(32);
                margin: rem(80) auto;

                @media screen and (max-width: $breakpoint-md) {
                    @include d-flex-column;
                    align-items: center;
                    gap: rem(64);
                    margin-top: rem(50);
                }
            }
        }

        &__footer {
            @include d-flex-between;
            gap: rem(32);
            border-top: 1px solid $color-gray;
            padding: rem(50) rem(32);

            @media screen and (max-width: $breakpoint-md) {
                @include d-flex-column;
                align-items: center;
                gap: rem(32);
                margin-top: rem(50);
            }
        }
    }
</style>
