//@: Theme Colors
$color-primary: #021222;
$color-primary-2: #4480d9;
$color-dark: #686e70;
$color-dark-2: #3a3a3a;
$color-dark-3: #1e1e1e;
$color-white: #ffffff;
$color-black: #000000;
$color-gray: #6D6E71;
$color-gray-2: #e5e5e5;
$color-gray-3: #f2f2f2; 
$color-gray-4: #f9f9f9;
$color-gray-5: #b1b1b1;
$color-gray-6: #6D6E70;
$color-gray-bg: #f4f4f4;
$color-primary-dark: #8f2e34;
$color-primary-bg: #fffdfa;
$color-brown: #e28743;
//eaeaea bg
//f4f4f4 general bg
//787878 text topic
//e4e4e4 text sub and badge

//@: Spacing
$base-spacing: 14rem;

//@: Fonts
$font-primary: 'Lexend', sans-serif;

//@: Shadows

//@: Media breakpoints
$breakpoint-xl: 1400px;
$breakpoint-lg: 1200px;
$breakpoint-md: 992px;
$breakpoint-sm: 768px;
$breakpoint-xs: 576px;