@use "@styles/abstracts/variables.scss"as *;
@use "@styles/abstracts/mixins.scss"as *;
@use "@styles/abstracts/functions.scss"as *;

.community {
    margin: rem(32) 0;
    @include d-flex-column;
    align-items: center;

    &__slider {
        width: min(rem(600), 100%);

        &__box1, &__box2, &__box3, &__box4, &__box5, &__box6, &__box7, &__box8 {
            width: 100%;
            height: rem(600);
            margin: rem(30) 0 0;
            border-radius: rem(24);
            background-image: url("../../../../assets/v1.webp");
            background-size: cover;
            background-position: bottom;
            background-repeat: no-repeat;

            &__content {
                width: 100%;
                height: 100%;
                border-radius: rem(24);
                background-color: rgb(0, 0, 0, 0.4);
                @include d-flex-center;
                color: $color-white;
                font-size: rem(24);

                &__text {
                    opacity: 0;
                    margin: auto;
                    @include d-flex-column-center;
                    gap: rem(20);

                    p {
                        font-size: rem(32);
                        text-align: center;
                        font-weight: 500;
                        width: min(rem(400));
                    }
                }
            }
        }

        &__box1 {
            background-image: url("../../../../assets/v1.webp");

            &__content {
                background-color: rgb(0, 0, 0, 0.6);
                &:hover {
                    background-color: rgb(0, 0, 0, 0.01);

                    .projects__slider__box1__content__text {
                        opacity: 1;
                    }
                }
            }
        }

        &__box2 {
            background-image: url("../../../../assets/v2.webp");

            &__content {
                background-color: rgb(0, 0, 0, 0.6);
                &:hover {
                    background-color: rgb(0, 0, 0, 0.01);

                    .projects__slider__box1__content__text {
                        opacity: 1;
                    }
                }
            }
        }

        &__box3 {
            background-image: url("../../../../assets/v3.webp");

            &__content {
                background-color: rgb(0, 0, 0, 0.6);
                &:hover {
                    background-color: rgb(0, 0, 0, 0.01);

                    .projects__slider__box1__content__text {
                        opacity: 1;
                    }
                }
            }
        }

        &__box4 {
            background-image: url("../../../../assets/v4.webp");

            &__content {
                background-color: rgb(0, 0, 0, 0.6);
                &:hover {
                    background-color: rgb(0, 0, 0, 0.01);

                    .projects__slider__box1__content__text {
                        opacity: 1;
                    }
                }
            }
        }

        &__box5 {
            background-image: url("../../../../assets/v5.webp");
            &__content {
                background-color: rgb(0, 0, 0, 0.6);
                &:hover {
                    background-color: rgb(0, 0, 0, 0.01);

                    .projects__slider__box1__content__text {
                        opacity: 1;
                    }
                }
            }
        }

        &__box6 {
            background-image: url("../../../../assets/v6.webp");

            &__content {
                background-color: rgb(0, 0, 0, 0.6);
                &:hover {
                    background-color: rgb(0, 0, 0, 0.01);

                    .projects__slider__box1__content__text {
                        opacity: 1;
                    }
                }
            }
        }

        &__box7 {
            background-image: url("../../../../assets/v7.webp");
            &__content {
                background-color: rgb(0, 0, 0, 0.6);
                &:hover {
                    background-color: rgb(0, 0, 0, 0.01);

                    .projects__slider__box1__content__text {
                        opacity: 1;
                    }
                }
            }
        }

        &__box8 {
            background-image: url("../../../../assets/v8.jpg");

            &__content {
                background-color: rgb(0, 0, 0, 0.6);
                &:hover {
                    background-color: rgb(0, 0, 0, 0.01);

                    .projects__slider__box1__content__text {
                        opacity: 1;
                    }
                }
            }
        }
    }
}