---
import { Image } from "astro:assets";

//@: Assets
import stroke from "@assets/stroke2.png";

//@: Components
import Button from "@components/shared/Button.astro";
---

<section class="hero" id="home">
    <div class="hero__stack">
        <p class="hero__stack__subtitle">ACADEMIC LEADER & RESEARCHER</p>
        <h1 class="hero__stack__title">
            Turning Evidence and Education into 
            <span class="hero__stack__title__span__title">
                Meaningful Improvements
            </span> in People's Lives.
        </h1>
    </div>
    <div class="hero__stack">
        <p class="hero__stack__content">
            Prof. Amos Gitau Njuguna is a senior academic leader working across
            universities, research networks, and community institutions to
            ensure that education and evidence translate into real improvements in
            wellbeing, opportunity, and inclusion.
        </p>
        <a href="#purpose">
            <Button>Explore &rarr;</Button>
        </a>
    </div>
</section>

<style lang="scss" scoped>
    @use "@styles/abstracts/variables.scss" as *;
    @use "@styles/abstracts/mixins.scss" as *;
    @use "@styles/abstracts/functions.scss" as *;

    .hero {
        padding: rem(200) $base-spacing;
        margin: rem(150) 0 0;
        position: relative;
        align-items: center;
        gap: rem(64);
        scroll-margin-top: 150px;
        @include d-flex-column;
        background-color: $color-dark-blue;

        @media screen and (min-width: $breakpoint-md) {
            margin: rem(128) 0 0;
        }

        @media screen and (max-width: $breakpoint-xl) {
            padding: calc($base-spacing - rem(96));
            margin-top: rem(150);
        }

        @media screen and (max-width: $breakpoint-md) {
            gap: rem(64);
        }

        @media screen and (max-width: $breakpoint-sm) {
            gap: rem(32);
        }

        @media screen and (max-width: $breakpoint-xs) {
            padding: rem(160) rem(32);
            gap: rem(32);
        }

        &__stack {
            @include d-flex-column;
            gap: rem(48);
            width: min(rem(1500), 100%);
            align-items: center;
            text-align: center;

            &__title {
                font-size: rem(72);
                font-weight: 500;
                color: $color-white;
                font-family: "Bricolage Grotesque", sans-serif;
                word-spacing: -2px;
                letter-spacing: -1px;


                &__span__title {
                    font-size: rem(80);
                    color: $color-light-blue;
                }
            }

            &__subtitle {
                font-size: rem(20);
                font-weight: 600;
                color: $color-light-blue;
                letter-spacing: rem(2);
            }

            &__content {
                font-size: rem(28);
                font-weight: 400;
                line-height: 3ch;
                color: $color-white;
            }
        }
    }
</style>
