---
//@: Assets
import why from "@assets/why.jpeg";

//@: Components
import Badge from "@components/shared/Badge.astro";
import Image from "astro/components/Image.astro";
---

<section class="purpose" id="purpose">
    <div class="purpose__content">
        <div class="purpose__content__stack">
            <Badge>Purpose</Badge>
            <h1>Why I Do This Work</h1>
        </div>
        <div class="purpose__content__stack">
            <p>
                I work across universities, boards, and community institutions
                with one clear purpose: to help education and evidence translate
                into meaningful improvements in people's lives. My work is
                grounded in the belief that strong institutions, guided by
                evidence and anchored in communities, can drive social and
                economic change at scale.
            </p>
        </div>
    </div>
    <div class="purpose__box">
        <Image
            src={why}
            alt="Africa Evidence Summit"
            class="purpose__box__img"
        />
    </div>
</section>

<style lang="scss" scoped>
    @use "@styles/abstracts/variables.scss" as *;
    @use "@styles/abstracts/mixins.scss" as *;
    @use "@styles/abstracts/functions.scss" as *;

    .purpose {
        padding: rem(200) $base-spacing;
        position: relative;
        @include d-flex-between-center;
        gap: rem(100);
        scroll-margin-top: 150px;
        @media screen and (max-width: $breakpoint-xl) {
            padding: calc($base-spacing - rem(96));
        }

        @media screen and (max-width: $breakpoint-md) {
            gap: rem(96);
        }

        @media screen and (max-width: $breakpoint-sm) {
            @include d-flex-column;
            gap: rem(80);
        }

        @media screen and (max-width: $breakpoint-xs) {
            padding: rem(160) rem(32);
            gap: rem(96);
        }

        &__content {
            width: min(rem(900), 100%);

            &__stack {
                width: 100%;
                gap: rem(50);
                @include d-flex-column;

                @media screen and (max-width: $breakpoint-md) {
                    margin: auto;
                }


                h1 {
                    font-size: rem(60);
                    font-weight: 500;
                    color: $color-dark-3;
                    font-family: "Bricolage Grotesque", sans-serif;
                    word-spacing: -2px;
                    letter-spacing: -1px;
                }

                p {
                    margin: rem(50) 0 0;
                    font-size: rem(24);
                    font-weight: 400;
                    line-height: 3ch;
                    color: $color-dark-3;
                }
            }
        }

        &__box {
            width: min(rem(900), 100%);
            height: auto;

            img {
                size: inherit;
                border-radius: 19% 81% 17% 83% / 72% 13% 87% 28%;
            }
        }
    }
</style>
