---
//@: Assets

//@: Components
import Badge from "@components/shared/Badge.astro";
---

<section class="recognition" id="recognition">
    <div class="recognition__content">
        <div class="recognition__content__stack">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="40"
                height="40"
                viewBox="0 0 24 24"
                ><path
                    fill="black"
                    d="m15.2 10.7l1.4 5.3l-4.6-3.8L7.4 16l1.4-5.2l-4.2-3.5L10 7l2-5l2 5l5.4.3zM14 19h-1v-3l-1-1l-1 1v3h-1c-1.1 0-2 .9-2 2v1h8v-1a2 2 0 0 0-2-2"
                ></path></svg
            >
            <Badge>Recognition</Badge>
            <h1>Africa Evidence Leadership Award</h1>
            <p>
                In 2025, I was honoured with the <span
                    >Africa Evidence Leadership Award for Evidence Mediation</span
                > — recognising my contribution to translating research into policy
                and practice and strengthening the connection between evidence and
                decision-making.
            </p>
        </div>
        <div class="recognition__content__box">
            <span></span>
        </div>
    </div>
</section>

<style lang="scss" scoped>
    @use "@styles/abstracts/variables.scss" as *;
    @use "@styles/abstracts/mixins.scss" as *;
    @use "@styles/abstracts/functions.scss" as *;

    .recognition {
        scroll-margin-top: 80px;

        @media screen and (max-width: $breakpoint-sm) {
            @include d-flex-column;
        }

        &__content {
            @include d-flex-column-center;
            padding: rem(200) $base-spacing;

            @media screen and (max-width: $breakpoint-xl) {
                padding: calc($base-spacing - rem(96));
                margin: rem(64) 0 0;
            }

            @media screen and (max-width: $breakpoint-md) {
                gap: rem(96);
            }

            @media screen and (max-width: $breakpoint-sm) {
                gap: rem(80);
            }

            @media screen and (max-width: $breakpoint-xs) {
                padding: rem(160) rem(32);
                gap: rem(96);
            }

            &__stack {
                @include d-flex-column-center;
                width: min(rem(1200), 100%);
                gap: rem(32);
                text-align: center;
                color: $color-dark;

                h1 {
                    margin-top: rem(50);
                    font-size: rem(60);
                    font-weight: 500;
                    color: $color-dark-3;
                    font-family: "Bricolage Grotesque", sans-serif;
                    word-spacing: -2px;
                    letter-spacing: -1px;
                }
                p {
                    font-size: rem(24);
                    font-weight: 400;
                    line-height: 3ch;
                    color: $color-dark-3;
                }

                span {
                    color: $color-dark;
                }
            }
            &__box {
                width: rem(200);
                border-bottom: 1px solid $color-dark;
                margin-top: rem(50);
            }
        }
    }
</style>
